.top-chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  background-color: white;
}

.line-chart {
  width: 100px;
  height: 50px;
}

.first-chart, .second-chart,.third-chart {
  margin-right: 50px;
  padding-right: 20px;
}
.second-chart, .third-chart {
  padding: 0 10px;
  border-left: 1px solid #e0e0e0; 
}

.big-number {
  font-size: 30px;
  font-weight: 600;
  margin: 0 10px;
  color: #008ff8;
}