.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    width: auto;
    height: auto;
    border: 1px solid #e6e6e6;
    padding: 0 20px 0 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    margin: 50px 0 50px 0 ;
}

.loading{
    display: flex;
    margin-left: 20px;
}